<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--SpringMVC思想是有一个前端控制器能拦截所有的请求，并智能派发-->
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!--servlet启动加载，servlet原本是第一次访问创建对象；load-on-startup：服务器启动的时候创建对象；值越小优先级越高，越先创建-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
      <!--
      / :拦截所有请求，不拦截jsp页面，*.jsp请求
      /* : 拦截所有请求，拦截jsp页面，处理*.jsp请求的是Tomcat服务器
      -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>



</web-app>
